<!doctype html>
<html lang="">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#3F51B5" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{% block title %}{% endblock %}</title>
    <link rel="apple-touch-icon" href="/images/icon.png">
    <link rel="icon" href="/images/icon.png">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="/elements/elements.vulcanized.html">
    {% endblock %}
  </head>
  <body fullbleed unresolved>
    {% block body %}
    {% endblock %}
  </body>
</html>
