<!doctype html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} - Robot web server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="import" href="{{ url_for('static', filename='bower_components/polymer/layout.html') }}" />
    <link rel="import" href="{{ url_for('static', filename='bower_components/polymer/layout.html') }}" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,900,900italic,500,500italic' rel='stylesheet' type='text/css'>
    <script src="{{ url_for('static', filename='bower_components/platform/platform.js') }}"></script>
    <style>
      body {
        font-family: 'Roboto', sans-serif;
      }
    </style>
    {% endblock %}
  </head>
  {% block body %}{% endblock %}
</html>
