{% extends "chrome.html" %}

{% block title %}Home{% endblock %}

{% block head %}
  {{ super() }}
  <script type="text/javascript" src="//www.gstatic.com/authtoolkit/js/gitkit.js">
  </script>
  <link type=text/css rel=stylesheet
    href="//www.gstatic.com/authtoolkit/css/gitkit.css" />
  <script type=text/javascript>
    window.google.identitytoolkit.signInButton(
      '#userbox', // accepts any CSS selector
      {
        widgetUrl: "{{ SERVER_ORIGIN }}/oauth2callback",
        signOutUrl: "/",
      }
    );
  </script>
{% endblock %}

{% block content %}
  <h1 class="page-header">Welcome</h1>
  <p>Welcome! You are logged in. You can log out using the widget below.</p>
  <div id="userbox"></div>
{% endblock %}
