{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block head %}
  {{ super() }}
  <script type="text/javascript" src="//www.gstatic.com/authtoolkit/js/gitkit.js">
  </script>
  <link type=text/css rel=stylesheet
    href="//www.gstatic.com/authtoolkit/css/gitkit.css" />
  <script type=text/javascript>
    window.google.identitytoolkit.signInButton(
      '#userbox', // accepts any CSS selector
      {
        widgetUrl: "{{ SERVER_ORIGIN }}/oauth2callback",
        signOutUrl: "/",
      }
    );
  </script>
  <style>
    .gitkit-id-submit {
      background-color: #efefef;
      padding: 10px;
      font-size: 1.5em;
      height: auto;
      line-height: auto;
    }
    .login-box {
      padding: 10px;
      font-family: sans-serif;
      width: 300px;
      border-radius: 5px;
      background-color: rgb(238, 238, 238);
    }
    .login-box h1 {
      margin: 0px;
      margin-bottom: 10px;
    }
  </style>
{% endblock %}

{% block body %}
<body fullbleed vertical layout>
  <div flex horizontal layout center center-justified>
    <div class="login-box" vertical layout center-justified>
      <h1>Robot web server</h1>
      <div id="userbox"></div>
    </div>
  </div>
</body>
{% endblock %}
