<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="//www.gstatic.com/authtoolkit/js/gitkit.js">
    </script>
    <link type=text/css rel=stylesheet
      href="//www.gstatic.com/authtoolkit/css/gitkit.css" />
    <script type=text/javascript>
      window.google.identitytoolkit.signInButton(
        '#userbox', // accepts any CSS selector
        {
          widgetUrl: "{{ SERVER_ORIGIN }}/oauth2callback",
          signOutUrl: "/",
        }
      );
    </script>
  </head>
  <body>
    <h1>Robot web server</h1>
    {% if logged_in %}
      {{ text }}
      <div id="userbox"></div>
    {% else %} 
      <p>{{ error }}</p>
      <div id="userbox"></div>
    {% endif %}
  </body>
</html>
