<!--
  Robot bringup file for the University of Washington PR2.
  Includes both the PR2 robot bringup, but also common nodes that are used by multiple applications.
  See https://github.com/hcrlab/rws/wiki/What-to-put-in-app.launch
 -->
<launch>
  <!-- PR2 bringup. -->
  <include file="/etc/ros/robot.launch" />

  <!-- Tuck arms action -->
  <node pkg="pr2_tuck_arms_action" type="tuck_arms.py" name="tuck_arms_action_server" />

  <!-- Kinect -->
  <include file="/var/ros/rws/launch/kinect.launch" />

  <!-- Mongo ROS message DB -->  
  <node name="mongo_msg_db" pkg="mongo_msg_db" type="db_node.py" />
  <node name="static_cloud_db" pkg="static_cloud_db" type="static_cloud_db.py" />

  <!-- Web video server -->
  <node name="ros_web_video" pkg="ros_web_video" type="ros_web_video">
    <param name="port" value="9999" />
    <param name="framerate" value="15" />
    <param name="bitrate" value="250000" />
  </node>

  <!-- TF web republisher -->
  <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" />

  <!-- Interactive marker proxy will need to go here eventually -->

  <!-- MoveIt! -->
  <!-- NOTE (jstn): Running MoveIt on workstation instead of on robot. -->
  <!--include file="$(find pr2_moveit_config)/launch/move_group.launch" /-->

  <!-- Cheats and special cases -->
  <!--
    PbD visualization backend.
    MoveIt spews out errors whenever a previously published TF frame disappears.
    This causes to slow down and become unstable when a lot of frames disappear.
    So, we can't allow users to shut down this program, which publishes lots of frames.
  -->
  <node pkg="rws_pr2_pbd" type="state_server_node" name="rws_pr2_pbd_state_server" />

  <!--
    CodeIt programs database.
    We're cheating by placing this in this file because CodeIt is the only user of this.
    It allows CodeIt programs to instantly load.
  -->
  <node pkg="code_it" type="programs.py" name="program_db" />
</launch>
